<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">

        <activity
            android:name=".EditarActivity"
            android:parentActivityName=".PantallaPrincipalActivity" />

        <activity
            android:name=".MostrarDatosActivity"
            android:parentActivityName=".PantallaPrincipalActivity"/>

        <activity android:name=".PantallaPrincipalActivity" />
        //regresa a la pantalla inicio
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"/>
        //regresa a la pantalla de inicio
        <activity android:name=".HospitalActivity"
            android:parentActivityName=".MainActivity"/>
        //regresa a la pantalla principal despues del login
        <activity
            android:name=".PacienteActivity"
            android:parentActivityName=".PantallaPrincipalActivity"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>